body {
  background-color: hsla(0, 0%, 96%, 0);
  font-family: 'Roboto', sans-serif;
}

.MDBContainer {
  min-height: 100vh;
}

.MDBCard {
  width: 80%; /* Adjust this value to make the card less wide */
  margin-top: 50px; /* Adjusted margin to bring the card up */
}
